<% content_for :body do %>
<div class="small-9 columns blog">
<h1 id="list-hdr">Jerry Thompson's Projects</h1>
<h1 id="edit-hdr">Edit Post</h1>
<div id="edit_place"></div>
<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Synopsis</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Publish</th>
    </tr>
  </thead>
  <tbody>
    <% unless  @projects.blank?%>
      <% @projects.each do |project| %>
        <tr id="<%= dom_id(project) %>">
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= link_to 'Show', project %></td>
          <% if current_user && policy(project).update? %>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <% end %>
          <% if current_user && policy(project).destroy? %>
            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <% if current_user && policy(project).publish? %>
            <td><%= link_to 'Publish', controller: 'projects', action: 'publish', id: project %></td> 
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td>
        <% if current_user && policy(Post.new).create? %>
          <%= link_to 'New Project', new_project_path %>
        <% end %>
      </td>
    </tr>     
  </tbody>
 </table>
 </div>
<% end %>

