<% content_for :body do %>

<% if @post.content.blank? %>
  <div class="off-canvas-wrap">

    <div class="fixed off-canvas-fixed">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><%= image_tag("menu_icon.png") %></a>
      </section>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <%= render  "posts/menus/#{@post.menu}" %>
        </ul>
      </aside>
    </div>
    <div class="inner-wrap">
      <a class="exit-off-canvas"></a>
      <section class="blog-main">
        <div class="row">
          <div class="small-9 columns blog-style">
            <%= render "posts/articles/#{@post.article}" %>
    <H1>Comments</H1>
    <div class="comments">
      <% if @comments %>
        <% @comments.each do |comment| %>
          <%= simple_format comment.comment %>
        <% end %>
      <% end %>
    </div>

          </div> 
        </div> 
      </section>
    </div>
    <p class="show_nav_links">
      <% if current_user && policy(@post).edit? %>
        <%= link_to 'Edit', edit_post_path(@post), id: 'edit_link' %> 
      <% end %>
      <%= link_to 'Back', posts_path %>
    </p>
  </div>
  <% end  %>
<% end  %>
