<% content_for :body do %>
  <p class="blog" id="notice"><%= notice %></p>

  <p class="blog">
  <strong class="show-blog">Title:</strong>
  <%= @post.title %>
  </p>

  <p class="blog">
  <strong class="show-blog">Description:</strong>
  </p>
  <p class="blog">
  <%= @post.description %>
  </p>

  <p class="blog">
    <strong class="show-blog">Content:</strong>
  </p>
  <p class="blog">
    <%= @post.content %>
  </p>
  <p class="blog">
    <strong class="show-blog">Comments:</strong>	
  </p>

  <%= render "comments/comments" %>

  <h3>
    Leave a Comment!
  </h3>

  <%= render "comments/form" %>

  <p class="show_nav_links">
    <%= link_to 'Edit', edit_post_path(@post), id: 'edit_link', remote: true %> |
    <%= link_to 'Back', posts_path %>
  </p>

<% end  %>
