<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Boson Foundry" %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %> 
    <%= csrf_meta_tags %>
  </head>

  <body class="blog">
  <!-- Main Page Content and Sidebar -->

  <div class="off-canvas-wrap">

    <!-- Main Blog Content -->
    <%= yield :body %>
    <!-- End Main Content -->



  <!-- End Main Content  -->


    <!-- Footer -->

    <footer class="row">
      <div class="small-12 columns">
        <hr />
        <div class="row">
          <div class="small-6 columns">
            <p class="copyright">© Copyright 2014 Jerrold R Thompson </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>

