<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Boson Foundry" %></title>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %> 
    <%= csrf_meta_tags %>
  </head>

  <body class="jet">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><%= link_to "Boson Foundry", root_path %></h1></li> 
      </ul>
      <section class="top-bar-section">
        <% if user_signed_in? %>
          <ul class="left" >
          <li> Signed in as &nbsp; </li>
        </ul>
        <ul>
          <li><%= current_user.email %></li>
        </ul>
        <ul>
          <li>  &nbsp; Not you?  </li>
        </ul>
        <ul>
          <li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> </li>
        </ul>
      <% else %>
          <ul class="left">
          <li> <%= link_to 'Sign up', new_user_registration_path %> </li>
          <li><%= link_to 'Sign in', new_user_session_path  %> </li> 
          <li><%= link_to 'Twitter Sign In', user_omniauth_authorize_path(:twitter) %></li> 
        </ul>
      <% end %>
      </section>
    </div>
  </nav>
  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="small-9 columns" role="content">
      <ul  data-orbit >
        <li style="width:800px;height:424px">
        <a href="http://cloudleather.bosonfoundry.com" target="_blank"><%= image_tag 'cloudleather_sm.png' %></a>
        </li>
        <li class="active">
        <a href="http://padhouses.heroku.com" target="_blank" ><%= image_tag 'padhouses_sm.png' %></a>
        </li>
        <li class="active">
        <a href="http://cf-schwag-store.herokuapp.com" target="_blank" ><%= image_tag 'swag-store.png' %></a>
        </li>
         
        <li>
        <a href="http://inmylifevideo.com" target="_blank" ><%= image_tag 'inmylifevideo_sm.png' %></a>
        </li>
      </ul>  

    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="small-3 columns">
      <div class="panel">
        <h3>DESIGN AND TECHNOLOGY</h3>
        <p class="design-tech">I have either been completely or partially the creator of the graphic design in these featured sites. The technology implemented includes Ruby on Rails, Postgresql database, Hobo gem, Omniauth-twitter, jQuery, Pundit, Flash action script, Devise gem, Spree e-commerce, my Spree Tax Cloud gem, Mail Chimp, AWS-S3, Route 53, Capistrano gem, Sass, Compass, Paperclip, Foundation Orbit, Unicorn, Nginx, openSSL, Minitest-Rails, and Capybara.
        </p>
        <a href="#">Read More →</a>
      </div>

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="small-12 columns">
      <hr />
      <div class="row">
        <div class="small-6 columns">
          <p>© Copyright 2014 Jerrold R Thompson </p>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
     $(document).foundation({
  orbit: {
      timer: false,
      timer_speed: 0
  }
}); 
  </script>
</body>
</html>

